.header {
    display: flex;
    justify-content: space-between;
    background: url('../images/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;

    .left-container {
        padding-top: 64px;
        padding-left: 8px;

        h1 {
            font-size: 36px;
            color: #e8e8e8;
            margin: 0;
            padding-bottom: 15px;
        }

        .star-container {
            display: flex;
            align-items: center;
            .star-rating {
                width: 110px;                
                padding-right: 11px;
                .checked-rating {
                    position: absolute;
                    width: 95px;
                    overflow: hidden;
                }

                .unchecked {
                    color: #dbdad7;
                }
                
                .checked {
                    color: #bc372d;
                }
            }

            .year-season {
                color: #a09ea1;
                font-weight: 600;
                padding-right: 11px;
                font-size: 17px;
            }

            .tv-ma {
                color: #858585;
                background-color: #313131;
                border-radius: 3px;
                text-transform: uppercase;
                padding: 4px 8px;
                font-weight: 600;
                margin-right: 11px;
                -webkit-box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.65); 
                box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.65);
            }

            .hd-version {
                color: #1f1f1f;
                background-color: #707070;
                padding: 4px 6px;
                margin-right: 7px;
                border-radius: 3px;
                font-weight: 700;
                -webkit-box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.65); 
                box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.65);
            }
        }

        .description {
            color: #a09ea1;
            font-size: 24px;
        }

        .cup-container {
            display: flex;
            .trophy-icon {
                height: 50px;
                width: 50px;
                display: flex;
                align-items: center;
                justify-content: center;
                background: #781c16;
                border-radius: 50px;
                font-size: 30px;
                margin-right: 20px;
            }
            .cup-description {
                font-size: 20px;
                color: #848484;
                font-style: italic;
            }
        }
    }

    .right-container {
        img {
            position: absolute;
            top: 0;
            right: 0;
            @media screen and (max-width: 640px) {
                display: none;
            }
        }
    }

    @media screen and (max-width: 480px) {
    
        height: 400px !important;
    
        h1 {
            font-size: 24px !important;
        }
    
        .star-container {
            display: block !important;
    
            .star-rating {
                padding: 11px !important;
                padding-left: 0 !important;
            }

            .year-season {
                font-size: 14px !important;
            }
        }
    
        .description {
            font-size: 16px !important;
        }
    
        .cup-container {
            .trophy-icon {
                height: 30px !important;
                width: 30px !important;
                font-size: 14px !important;
                margin-right: 10px !important;
            }
            .cup-description {
                font-size: 14px !important;
            }
        }
     
    }
    
    @media screen and (max-width: 360px) {

        .description {
            font-size: 14px !important;
        }
    
        .cup-description {
            font-size: 12px !important;
        }
    }
}